.container {
  width: 100%;
  height: 30.813rem;
  display: flex;
  flex-direction: column;
  gap: 10.014rem;
  border-radius: 1.25rem;
  background: #7affa7;
  box-sizing: border-box;
  .dushnilasVibe {
    color: #000;
    font-size: 5.563rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.334rem;
    margin: 3.875rem auto auto 3.75rem;
  }
  .indicators {
    color: #000;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: auto auto 4.138rem 3.75rem;
  }
}
